$corFundo: rgb(20, 21, 25);
$corModal: linear-gradient(to bottom right, rgb(34, 41, 50) 1%, rgb(24, 29, 38));
$corLaranja: rgb(255, 116, 48);
$corCirculos: rgb(38, 46, 55);
$corCinza: rgb(124, 135, 150);
$corTexto: rgb(118, 124, 134);